.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
    
}

