.container {
    background-color: #282958;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size:2.0em;

}