@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&display=swap');

* {
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
}

body {
    background-color: #efefef;
}